$firstColor : #181C14;
$secondColor : #FFB200;
$text : #b0b0b0;
$title : #2e2e2e;
$dashColor : #1B2430;
$ChartColor : #17a2b8;
$LinkColor : #005b96;
$WarningColor : #ff5722;
$WarningColor2 : #d32f2f;

