:where(.css-dev-only-do-not-override-161f05s).ant-form-item .ant-form-item-label >label{
    color: $text;
}
.LoginFormContainer{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 20px;
}
.ContainerParent{
    display: flex;
    justify-content: center;
    align-items: center;
}